<div class="container">
<%= form_with(model: slide, local: true) do |form| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
        <% slide.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
      <%= form.label :lecture_id %>
      <div class="radio-buttons">
        <%= form.collection_radio_buttons :lecture_id, Lecture.all, :id, :name do |t| %>
        <% t.label { t.radio_button + t.text }%>
        <% end %>
  </div>
--->
  <div class="field">
      <%= form.label :lecture_id %>
      <%= form.collection_select :lecture_id, Lecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions text-center">
    <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
</div>
