<p id="notice"><%= notice %></p>

<h1 class="text-center">Slides</h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Lecture ID</th>
      <th>Lecture Name</th>
      <th>Order</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.lecture.id %></td>
        <td class="link-no-effect"><%= link_to slide.lecture.name, slide, class:"link-no-effect" %></td>
        <td><%= slide.order %></td>
        <td><%= image_tag slide.image.to_s, class:"thumb" %></td>
        <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="text-center">
<%= link_to 'New Slide', new_slide_path, class:"btn btn-outline-success" %>
</div>
