<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :blog_category %><br>
    <%= form.collection_check_boxes :blog_category_ids, BlogCategory.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
   <% end %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video, class:"form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
