<div class="blog-wrapper">
  <h2 class="text-center top-message-wrapper"><%= @blog.title %></h2>

<% if @blog.video != "" %>
  <div class="home-video text-center blog-video">
  <iframe src="<%= @blog.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<% end %>

  <div class="container blog-wrapper">
    <%= @blog.content %>


    <% if current_user && current_user.admin == true %>
    <div class="text-center top-message-wrapper">
      <%= link_to 'この記事を編集する', edit_blog_path(@blog), class:"btn btn-outline-secondary" %> |
      <%= link_to 'ブログ一覧', blogs_path, class:"btn btn-outline-secondary" %>
    <% else %>
    <div class="text-center blog-btn-wrapper">
      <%= link_to 'ブログ一覧', blogs_path, class:"btn btn-outline-secondary" %>
    </div>
    <% end %>
    </div>
  </div>
</div>
