<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% lecture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video, class:"form-control" %>
  </div>
<% if Course.all.length > 0 %>
<div class="field">
    <%= form.label :course_id %>
    <div class="radio-buttons">
      <%= form.collection_radio_buttons :course_id, Course.all, :id, :title do |t| %>
      <% t.label { t.radio_button + t.text }%>
      <% end %>
</div>
<% end %>
  </div>
  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>
  <div class ="field">
    <%= form. label :description %>
    <%= form. rich_text_area :description %>
  </ div >

  <div class="actions text-center top-study-button-wrapper">
    <%= form.submit class:"btn btn-outline-success"  %>
  </div>
<% end %>
