
<h1 class="text-center top-message-wrapper">
  <%= @lecture.name %>
</h1>


<div class="text-center">
<iframe width="806" height="453" src="<%= @lecture.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<% if @task_sheet_link %>
<div class="text-center top-study-button-wrapper">
  <%= link_to "問のシートにアクセスする", @task_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-success" %>
</div>
<% end %>

<% if @answer_sheet_link %>
<div class="text-center">
  <%= link_to "答えを見る", @answer_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-primary" %>
</div>
<% end %>

<div class="text-center top-study-button-wrapper">
  <% if @prev_lecture %>
  <%= link_to "前のレクチャーに戻る", lecture_path(@prev_lecture), class:"lecture-move-link" %>
  <% end %>
<% if @prev_lecture && @next_lecture %>
|
<% end %>
  <% if @next_lecture %>
  <%= link_to "次のレクチャーに進む", lecture_path(@next_lecture), class:"lecture-move-link" %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="lectureindex" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= link_to "コース：#{@lecture.course.title}", course_path(@lecture.course), class:"btn btn-outline-secondary" %></h5>
      </div>
      <div class="modal-body">
        <% @course.lectures.each do |lecture| %>
         <%= link_to lecture.name, lecture_path(lecture), class:"lecture-move-link" %></br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% if current_user.admin == true %>
<p class='text-center top-message-wrapper'>
  <%= link_to 'このレクチャーを編集', edit_lecture_path(@lecture), class:"btn btn-outline-secondary"  %> |
  <%= link_to 'レクチャー一覧', lectures_path, class:"btn btn-outline-secondary" %>
</p>
<% end %>
