
<h1 class="text-center">
  <%= @lecture.name %>
</h1>
<p class="text-center">
  <%= link_to @lecture.course.title, course_path(@lecture.course), class:"btn btn-outline-secondary" %>
</p>

<div class="text-center">
<iframe width="806" height="453" src="<%= @lecture.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<% if @task_sheet_link %>
<div class="text-center">
  <%= link_to @task_sheet_link.title, @task_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-success" %>
</div>
<% end %>

<% if @answer_sheet_link %>
<div class="text-center">
  <%= link_to @answer_sheet_link.title, @answer_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-primary" %>
</div>
<% end %>

<% if @next_lecture %>
<div class="text-center">
<%= link_to "Go to the next lecture", lecture_path(@next_lecture) %>
</div>
<% end %>
<div class="text-center">
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#lectureindex">
  Lectures in the Course
</button>
</div>
<div class="modal fade" id="lectureindex" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">目次</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @course.lectures.each do |lecture| %>
         <%= link_to lecture.name, lecture_path(lecture) %></br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% if current_user.admin == true %>
<p class='text-center'>
  <%= link_to 'このレクチャーを編集', edit_lecture_path(@lecture), class:"btn btn-outline-secondary"  %> |
  <%= link_to 'レクチャー一覧', lectures_path, class:"btn btn-outline-secondary" %>
</p>
<% end %>
