
<h1 class="text-center top-message-wrapper">
  <%= @lecture.name %>
</h1>

<!-- video -->
<div class="text-center">
<iframe width="967" height="543" src="<%= @lecture.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- description -->
<div class="text-left container top-message-wrapper">
  <div class="row">
    <div class="offset-md-1 col-md-10">
    <%= @lecture.description %>
    </div>
  </div>
</div>

<!--
<% if @lecture.slides %>
<% if @lecture.slides.count >=1 %>
  <div class="text-center container-fluid">
    <div id="carouselExampleControls2" class="carousel slide" data-interval="false" data-wrap="false" data-ride="carousel">
        <div class="carousel-inner">
          <!-- indicator -->
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active first-slide"></li>
            <% @slide_indicator_number.each do |n| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= n.order %>" class="inactive"></li>
            <% end %>
          </ol>
          <!-- slide contents -->
          <div class="carousel-item active">
            <%= image_tag @lecture.slides.find_by(order: 1).image.to_s, class:"d-block document-img mx-auto slide-width"%>
          </div>
          <% @lecture.slides.order(:order).each do |slide| %>
            <% if slide.order > 1 %>
            <div class="carousel-item">
              <%= image_tag slide.image.to_s, class:"d-block document-img mx-auto slide-width" %>
            </div>
            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
           <i style="font-size: 50px" class="fas fa-arrow-alt-circle-left"></i>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
          <i style="font-size: 50px" class="fas fa-arrow-alt-circle-right"></i>
          <span class="sr-only">Next</span>
        </a>

    </div>
  </div>
<% end %>
<% end %>
-->

<!-- slides --
<% if @lecture.slides %>
<% if @lecture.slides.count >=1 %>
  <div class="text-center container">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-wrap="false" data-ride="carousel">
        <div class="carousel-inner">
          <!-- indicator -->
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active first-slide"></li>
            <% @slide_indicator_number.each do |n| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= n.order %>" class="inactive"></li>
            <% end %>
          </ol>
          <!-- slide contents -->
          <div class="carousel-item active">
            <%= image_tag @lecture.slides.find_by(order: 1).image.to_s, class:"d-block document-img mx-auto width-85"%>
          </div>
          <% @lecture.slides.order(:order).each do |slide| %>
            <% if slide.order > 1 %>
            <div class="carousel-item">
              <%= image_tag slide.image.to_s, class:"d-block document-img mx-auto width-85" %>
            </div>
            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
           <i style="font-size: 50px" class="fas fa-arrow-alt-circle-left"></i>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
          <i style="font-size: 50px" class="fas fa-arrow-alt-circle-right"></i>
          <span class="sr-only">Next</span>
        </a>

    </div>
  </div>
<% end %>
<% end %>
end of slides -->

<% if @task_sheet_link %>
<div class="text-center top-study-button-wrapper">
  <% if @lecture.course.category.id == 1 %>
   <%= link_to "ワークブックをダウンロードする", @task_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-success" %>
  <% else %>
   <%= link_to "元シートにアクセスする", @task_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-success" %>
  <% end %>
</div>
<% end %>

<% if @answer_code_link %>
<div class="text-center top-study-button-wrapper">
  <% if @lecture.course.category.id == 1 %>
　　  <%= link_to "最終的なワークブックをダウンロード", @answer_code_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-warning" %>
  <% else %>
　　  <%= link_to "最終的なコード見る", @answer_code_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-warning" %>
  <% end %>
</div>
<% end %>

<% if @answer_sheet_link %>
<div class="text-center second-study-button-wrapper">
  <%= link_to "最終的なコードを見る", @answer_sheet_link.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-warning" %>
</div>
<% end %>

<!-- google sheet Instruction modal button -->
<%= @lecture.course.category.id %>
<% if @answer_sheet_link && @lecture.course.category.id == 2%>
<div class="text-center">
<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#sheetInstruction">
  ボタンから最終的なコードを見る方法
</button>
</div>
<% end %>

<div class="text-center top-study-button-wrapper">
  <% if @prev_lecture %>
  <%= link_to "前のレクチャーに戻り、復習する", lecture_path(@prev_lecture), class:"lecture-move-link btn btn-outline-danger" %>
  <% end %>
<% if @prev_lecture && @next_lecture %>
|
<% end %>
  <% if @next_lecture %>
    <% if @lecture.completed_by?(current_user) %>
    <%= link_to "次に進む", lecture_path(@next_lecture), class:"lecture-move-link btn btn-outline-primary" %>
    <% else %>
    <%= link_to "レクチャーを完了して、次に進む", "complete/#{@lecture.course_id}/#{@lecture.order}", class:"lecture-move-link btn btn-outline-primary", method: :post %>
    <% end %>
  <% else %>
    <% if @lecture.completed_by?(current_user) %>
        <%= link_to "コースホームに戻る", course_path(@lecture.course), class:"lecture-move-link btn btn-outline-primary" %>
    <% else %>
        <%= link_to "レクチャーを完了して、コースを完了する", "complete/#{@lecture.course_id}/#{@lecture.order}", class:"lecture-move-link btn btn-outline-primary", method: :post %>
    <% end %>
  <% end %>
</div>

<!-- Menu Modal -->
<div class="modal fade" id="lectureindex" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= link_to "コース：#{@lecture.course.title}", course_path(@lecture.course), class:"btn btn-outline-secondary" %></h5>
      </div>
      <div class="modal-body">
        <% @course.lectures.order(:order).each do |lecture| %>
         <%= link_to lecture.name, lecture_path(lecture), class:"lecture-move-link" %>
         <% if lecture.completed_by?(current_user) %>
              <img src="/badge.png" class="complete-badge-sm">
         <% end %>
       </br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal -->

<!-- Sheet Instruction Modal -->
<div class="modal fade fullscreen" id="sheetInstruction" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">最終コードの見方</h5>
      </div>
      <div class="modal-body">
        <div class="text-center" >
          <h5>1. スプレッドシートのコピーを作成する</h5>
          <img src="/instructions/testpic.png" width="100%">
          <img src="/instructions/testpic2.png" width="100%">
          <img src="/instructions/testpic3.png" width="100%">
        </div><br>
        <div class="text-center">
          <h5>2. スクリプトエディタを確認する</h5>
          <img src="/instructions/testpic4.png" width="100%">
          <img src="/instructions/testpic5.png" width="100%">
        </div><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal -->
<% if current_user.admin == true %>
<p class='text-center top-message-wrapper'>
  <%= link_to 'このレクチャーを編集', edit_lecture_path(@lecture), class:"btn btn-outline-secondary"  %> |
  <%= link_to 'レクチャー一覧', lectures_path, class:"btn btn-outline-secondary" %>
</p>
<% end %>
