<h1 class="text-center top-message-wrapper">コース一覧</h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>コースID</th>
      <th>コースネーム</th>
      <th>カテゴリー</th>
      <th>順番</th>
      <th>公開</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody  class="link-no-effect">
    <% @courses.each do |c| %>
      <tr>
        <td><%= link_to c.id, course_path(c) %></td>
        <td><%= link_to c.title, course_path(c), class:"btn btn-outline-secondary btn-sm"  %></td>
        <% if c.category %>
        <td><%= c.category.category_name %></td>
        <% else %>
        <td>未設定</td>
        <% end %>
        <td><%= c.order %></td>
        <td><%= c.publish %></td>
        <td><%= link_to '編集', edit_course_path(c), class:"btn btn-outline-success btn-sm"  %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class='text-center'>
<%= link_to '新しくコースを作る', new_course_path, class:"btn btn-outline-success mx-auto"  %>
</div>
</div>
