<h1 class="text-center top-message-wrapper">コース一覧</h1>

<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
        <!-- card -->

    <div class="col-md-4 col-lg-4 one-row card-wrapper">
        <div class="card h-100">
          <% if course.id == 1 %>
            <a href="/courses/<%= course.id %>" class="row-height">
              <%= image_tag course.image.to_s, class:"card-img-top" %>
            <% else %>
            <a href="#">
              <%= image_tag course.image.to_s, class:"card-img-top dark-pic" %>
            <% end %>
            </a>
          <div class="card-body text-center">
            <h5 class="card-title text-center"><%= course.title %></h5>
          </div>
        </div>
      </div>
      <!-- end of card -->

      <!-- Modal -->
      <div class="modal fade" id="completed_lectures_modal-<%= course.id %>"  data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><%= link_to "コース：#{course.title}", course_path(course) , class:"btn btn-outline-secondary" %></h5>
            </div>
            <div class="modal-body">
              <% course.lectures.each do |lecture| %>
               <%= link_to lecture.name, lecture_path(lecture), class:"lecture-move-link" %>
               <% if lecture.completed_by?(current_user) %>
                    <img src="/badge.png" class="complete-badge-sm">
               <% end %>
             </br>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Modal -->

      <% end %>
   </div>
</div>
