<h1 class="text-center top-message-wrapper">コース一覧!</h1>

<div class="container">
  <div class="row">
    <% @courses.order(order: :asc).each do |course| %>
        <!-- card -->

    <div class="col-md-4 col-lg-4 one-row card-wrapper">
        <div class="card h-100">
          <% if course.id == 1 %>
            <a href="/courses/<%= course.id %>" class="row-height">
              <%= image_tag course.image.to_s, class:"card-img-top" %>
            <% else %>
            <a href="#">
              <%= image_tag course.image.to_s, class:"card-img-top dark-pic" %>
            <% end %>
            </a>
          <div class="card-body text-center">
            <h5 class="card-title text-center"><%= course.title %></h5>
          </div>
        </div>
      </div>
      <!-- end of card -->



      <% end %>
   </div>
</div>

<!-- new view -->
<div class="container">
  <% @courses.order(order: :asc).each do |course| %>
  <% if course.id == 1 %>
  <a href="/courses/<%= course.id %>" class="course-index-card">
  <% else %>
  <a class="course-index-card">
  <% end %>
    <div class="card mb-3" style="max-width: 100%">
      <div class="row g-0">
        <div class="col-md-4 row-height">
          <% if course.id == 1 %>
          <%= image_tag course.image.to_s, class:"img-fluid" %>
          <% else %>
          <%= image_tag course.image.to_s, class:"img-fluid dark-pic" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body course-index-card-body">
            <h5 class="card-title"><%= course.title %></h5>
            <div class="vm">
            <p class="card-text"><%= course.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% end %>
</div>
