<p id="notice"><%= notice %></p>

<div class="text-center blog-wrapper">
  <h2><%= @blog_category.name %></h2>
  <div class="row">
  　<div class="mx-auto large-view-only"><%= will_paginate @blogs %></div>
    <div class="mx-auto small-view-only"><%= will_paginate @blogs, :inner_window => 0, :outer_window =>0 %></div>
  </div>
  <!-- Modal　Button -->
      <div class="text-center btn-wrapper">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#BlogSameCategoryModal">
          他のカテゴリーから記事を探す
        </button>
      </div>
  <!-- Modal　Button until here-->
  <!-- Modal -->
  <div class="modal fade" id="BlogSameCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">カテゴリー一覧</h4>
        </div>
        <div class="modal-body">
          <% @blog_categories.each do |category|%><br>
            <%= link_to category.name, "/blog_categories/#{category.id}", {class:"btn btn-sm btn-light category-btn"} %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal until here -->
<table class="table">
  <thead>
    <tr>
      <!-- <th class="text-center">記事タイトル</th>
      <th class=""><div class="col-sm-10 offset-sm-2 col-12blog-title bg-light">記事タイトル</div></th>-->
      <th class=""><div class="col-sm-8 offset-sm-2 col-12">記事タイトル</div></th>
    </tr>
  </thead>

  <tbody>
    <div class="row">
    <% @blogs.each do |blog| %>
      <tr>
        <td class="blog-item-wrapper">
          <h5 class="col-sm-8 offset-sm-2 col-12 blog-table-title"><%= link_to blog.title, blog, class:"blog-link blog-item" %></h5>
        </td>
        <% if current_user && current_user.admin == true %>
        <td><%= link_to 'Edit', edit_blog_path(blog), class:"btn btn-sm btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </div>
  </tbody>
  </div>
</table>
<div class="text-center blog-btn-wrapper">
  <%= link_to '全ブログ一覧に戻る', blogs_path, class:"btn btn-outline-secondary" %>
</div>
<% if current_user && current_user.admin == true %>
  <%= link_to 'Edit', edit_blog_category_path(@blog_category) %> |
  <%= link_to 'Back', blog_categories_path %>
<% end %>

</div>
