<div class="container">
<h3>
  <strong>Email:</strong>
  <%= @contact.email %>
</h3>

<p>
  <strong>Type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contact.content %>
</p>

<%= link_to '編集する', edit_contact_path(@contact), class:"btn btn-outline-secondary" %> |
<%= link_to 'お問い合わせ一覧に戻る', contacts_path, class:"btn btn-outline-secondary" %>
</div>
