<h2 class="text-center top-message-wrapper">
  <%= @sheet_link.title %>
</h2>
<div class="container">
<p class="link-no-effect">
  <strong>Url:</strong>
  <%= link_to @sheet_link.url, @sheet_link.url, target: :_blank, rel: "noopener noreferrer" %>
</p>

<p class="link-no-effect">
  <strong>Lecture:</strong>
  <%= link_to @sheet_link.lecture.name, lecture_path(@sheet_link.lecture) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sheet_link.sheet_type %>
</p>
<div class="text-center link-no-effect">
<%= link_to 'このシートを編集', edit_sheet_link_path(@sheet_link) %> |
<%= link_to 'Google Sheet一覧', sheet_links_path %>
</div>
</div>
