<%= form_with(model: lecture_user, local: true) do |form| %>
  <% if lecture_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture_user.errors.count, "error") %> prohibited this lecture_user from being saved:</h2>

      <ul>
        <% lecture_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :lecture_id %>
    <%= form.text_field :lecture_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
