<h1 class="text-center top-message-wrapper">
  <%= @course.title %>
</h1>

<p class="text-center">
  <%= image_tag @course.image.to_s, height:"320px" %>
</p>

<p class="text-left container top-message-wrapper course-description">
  <%= @course.description %>
</p>

<h2 class="text-center top-message-wrapper">レクチャー一覧</h2>
<div class="container">
<% @course.lectures.each do |lecture| %>
  <div class="lecture-card-wrapper">
  <div class="card">
    <a href="/lectures/<%= lecture.id %>" class="card-body text-dark lecture-card">
      <h5><%= lecture.name %></h5>
    </a>
   </div>
  </div>
<% end %>
</div>

<% if current_user.admin == true %>
<div class='text-center top-message-wrapper link-no-effect'>
<%= link_to 'このコースを編集', edit_course_path(@course) %> |
<%= link_to 'コース一覧', courses_path %>
</div>
<% end %>
