<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @course.title %>
</h1>

<p class="text-center">
  <%= image_tag @course.image.to_s,class:"course_show_image" %>
</p>
<p>
  <% @course.lectures.each do |lecture| %></br>
  <div class="card">
    <div class="card-body">
      <%= link_to lecture.name, lecture_path(lecture) %>
    </div>
  </div>
  <% end %>
</p>
<% if current_user.admin == true %>
<%= link_to 'このコースを編集', edit_course_path(@course) %> |
<%= link_to 'コース一覧', courses_path %>
<% end %>
