<div class="login-page-wrapper">
<h2 class="text-center top-message-wrapper">パスワード再設定ページ</h2>

<div class="container">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field form-group">
    <%= f.label :password, "新しいパスワード" %>
    <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 文字以上必要になります)<br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "もう一度入力してください" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"  %>
  </div>
<div class="top-message-wrapper">
  <div class="actions text-center login-btn-wrapper">
    <%= f.submit "パスワードを再設定する" ,class:"btn btn-outline-success" %>
  </div>
</div>
<% end %>
  <div class="actions login-btn-wrapper">
<%= render "users/shared/links" %>
</div>
</div>
</div>
