<div class="footer-wrapper">
  <p class="text-center">
     <div class="link-no-effect text-center large-view-only">© SMORQ 2020-23 |<%= link_to " About Us ", "/home/about", class:"text-dark" %>  |<%= link_to " ブログ ", "/blogs", class:"text-dark" %> | <%= link_to " お問い合わせ ", new_contact_path, class:"text-dark" %></div>
     <div class="link-no-effect text-center small-view-only">© SMORQ 2020-23 <br><%= link_to " About Us ", "/home/about", class:"text-dark" %>  |<%= link_to " ブログ ", "/blogs", class:"text-dark" %> | <%= link_to " お問い合わせ ", new_contact_path, class:"text-dark" %></div>
   </p>
</div>
