<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-bran" href="/">SMORQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
     <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link nav-titles course-index-nav" href="/categories">コース一覧</a>
      </li>

      <li class="nav-item">
        <% if @lecture && @lecture.course %>
        <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#lectureindex">
          <% if @lecture.course.category %>
          <%= "カテゴリー: #{@lecture.course.category.category_name} >>コース：#{@lecture.course.title} >> レクチャー：#{@lecture.name}" %>
          <% else %>
          <%= "コース：#{@lecture.course.title} >> レクチャー：#{@lecture.name}" %>
          <% end %>
        </button>
        <% end %>
      </li>
        <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <% if !user_signed_in? %>
    <li class="nav-item"><a href="#" class="nav-link btn" data-toggle="modal" data-target="#exampleModal">ログイン</a></li>
    <li class="nav-item"><a href="#" class="nav-link btn header-signup-btn bg-info text-white" data-toggle="modal" data-target="#signupModal">新規会員登録</a></li>
    <% else %>
    <% if current_user.payment != true %>
    <li class="nav-item">
      <a href="/charges/new" class="nav-link btn btn-sm btn-outline-info">有料会員になる</a>
    </li>
    <% end %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nav-titles" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.username %>
          <%= current_user.username %>
        <% else %>
          <%= current_user.email %>
        <% end %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
        <%= link_to "ユーザー設定", edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to "学習状況", "/current_studies", class:"dropdown-item" %>
        <% if current_user.admin == true %>
        <div class="dropdown-divider"></div>
        <%= link_to "お問い合わせ管理", "/contacts", class:"dropdown-item" %>
        <%= link_to "カテゴリーを編集", "/category_table", class:"dropdown-item" %>
        <%= link_to "コースを編集", "/course_table", class:"dropdown-item" %>
        <%= link_to "レクチャーを編集", lectures_path, class:"dropdown-item" %>
        <%= link_to "スライドを編集", slides_path, class:"dropdown-item" %>
        <%= link_to "設題・回答のシートを管理", sheet_links_path, class:"dropdown-item" %>
        <%= link_to "ユーザー管理", "/all_users", class:"dropdown-item" %>
        <%= link_to "ユーザーレクチャー管理", "/lecture_users", class:"dropdown-item" %>
        <%= link_to "利用規約管理", "/policies", class:"dropdown-item" %>
        <%= link_to "プライバシーポリシー管理", "/privacy_policies", class:"dropdown-item" %>
        <%= link_to "ブログカテゴリー管理", blog_categories_path, class:"dropdown-item" %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    </li>
    <% end %>
  </ul>
  </div>
</nav>
