<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K89Y1KQ7QF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K89Y1KQ7QF');
    </script>

    <title>SMORQ | オフィスで使えるプログラミングを学ぶならSMORQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="webwrapper">
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/modal' %>
    <%= yield %></br>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
