<!DOCTYPE html>
<html>
  <head>
    <title>RailRefresh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/modal' %>
    <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to "Signout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign in with Google Account", user_google_oauth2_omniauth_authorize_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
